@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@model NetCoreBootstrap.Models.Views.UserManagementViewModel
@inject IViewLocalizer Localizer
<h3>@Localizer["CreateRole"]</h3>
@using (Html.BeginForm("CreateRole", "UserManagement", FormMethod.Post))
{  
    @Html.Partial("_EditRoleForm", Model);
    <div class='form-group'>
        <input type='submit' value='@Localizer["CreateRole"]'/>
    </div>
}
