@using NetCoreBootstrap.Models.Database
@using Microsoft.AspNetCore.Identity
@model NetCoreBootstrap.Models.Views.UserManagementViewModel

<h3>Users</h3>
<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@Html.DisplayFor(model => user.UserName)</td>
                <td>@Html.DisplayFor(model => user.Email)</td>
                @{
                    List<string> roles = new List<string>();
                    foreach(var role in user.Roles)
                    {
                        roles.Add(role.Role.Name);
                    }
                }
                <td>@String.Join(",", roles)</td>
            </tr>
        }
    </tbody>
</table>
