@model NetCoreBootstrap.Models.Views.UserManagementViewModel

<div class='form-group'>
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
	@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})
</div>
