@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@model NetCoreBootstrap.Models.Views.RoleManagerViewModel
@inject IViewLocalizer Localizer

@if(Model.Roles.Count > 0)
{
	@using (Html.BeginForm("AddRolesToUser", "UserManagement", FormMethod.Post))
	{  
		@foreach(var role in Model.Roles)
		{
			<div>
				@Html.CheckBoxFor(model => model.Roles[role.Key], new {})
				@Html.LabelFor(model => model.Roles[role.Key])
			</div>
		}
		@Html.HiddenFor(model => model.SelectedUserId)
		<div class='form-group'>
			<input type='submit' value='@Localizer["SaveChanges"]'/>
		</div>
	}
}
